* {
    margin: 30px;
    padding: 0px;
}
@font-face {
  font-family: 'Chango', sans-serif;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  src: local('Chango'), local('IBM Plex Mono'), url(https://fonts.google.com/?category=Serif,Monospace&selection.family=Chango|IBM+Plex+Mono) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;

}
body {
    font-family: "IBM Plex Mono", serif;
    color: #b71010;
    margin: 40px "IBM Plex Mono";
    background-color: black;
}
h1 {
  font-family: "Chango", serif;
  padding-top: 20px;
  font-size: 500px "Chango";
  color: #b71010;
  font-weight: bold;
}



/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: red;
}
/* mouse over link */
a:hover {
    color: grey;
}
