:root {
  --fontHeight: 200px;
  --color: black;
  --negativeColor: white;
  --baseKern: 20px;
  --stemWidth: 20px;
}

.fontBox {
  background: var(--negativeColor);
  height:var(--fontHeight);
  padding:10px;
  overflow:hidden;
}

a {
 color:red;
}

 /*define some letter parts */

.stem {
  background: var(--color);
  width:var(--stemWidth);
  height: var(--fontHeight);
}


.base {
  background: var(--color);
  height: var(--stemWidth);
}

.counter {
  transform-origin: center;
  background: var(--negativeColor);
}


/* setup so our letters have equal spacing */
.rootLetter {
  float:left;
  position:relative;
  padding-right:var(--baseKern);
}

.letter {
  height:calc(var(--fontHeight) + 20px);
}

.letter * {
  position:absolute;
  /*border: 1px solid yellow;*/
}


/* A */

.a {
  width:170px;
  height: 170px;
}

.a>.top {
  height: 170px;
  width: 170px;
  left: 0px;
  top: 0px;
  background: var(--color);
  border-radius: 0px 0px 0px 0px;
}

.a>.counter.one {
  height: 85px;
  width: 5px;
  left: 85px;
  top: 85px;
  border-radius: 0px 0px 0px 0px;
}

.a>.counter.two {
  height: 5px;
  width: 40px;
  left: 65px;
  top: 40px;
  border-radius: 0px 0px 0px 0px;
}

/* B */

.b {
  width:170px;
  height: 170px;
}

.b>.top {
  height: 170px;
  width: 170px;
  left: 0px;
  top: 0px;
  background: var(--color);
  border-radius: 0px 0px 0px 0px;
}

.b>.counter.three {
  height: 5px;
  width: 40px;
  left: 85px;
  top: 40px;
  border-radius: 0px 0px 0px 0px;
}

.b>.counter.four {
  height: 5px;
  width: 85px;
  left: 85px;
  top: 85px;
  border-radius: 0px 0px 0px 0px;
}

.b>.counter.five {
  height: 5px;
  width: 40px;
  left: 85px;
  top: 130px;
  border-radius: 0px 0px 0px 0px;
}

/* C */

.c {
  width:170px;
  height: 170px;
}

.c>.top {
  height: 170px;
  width: 170px;
  left: 0px;
  top: 0px;
  background: var(--color);
  border-radius: 0px 0px 0px 0px;
}

.c>.counter.eight {
  height:5px;
  width: 85px;
  left: 85px;
  top: 85px;
  border-radius: 0px 0px 0px 0px;
}

/* D */

.d {
  width:170px;
  height: 170px;
}

.d>.top {
  height: 170px;
  width: 170px;
  left: 0px;
  top: 0px;
  background: var(--color);
  border-radius: 0px 0px 0px 0px;
}

.d>.counter.nine {
  height: 85px;
  width: 5px;
  left: 85px;
  top: 45px;
  border-radius: 0px 0px 0px 0px;
}

/* E */

.e {
  width:170px;
  height: 170px;
}

.e>.top {
  height: 170px;
  width: 170px;
  left: 0px;
  top: 0px;
  background: var(--color);
  border-radius: 0px 0px 0px 0px;
}

.e>.counter.ten {
  height: 5px;
  width: 40px;
  left: 130px;
  top: 45px;
  border-radius: 0px 0px 0px 0px;
}

.e>.counter.eleven {
  height: 5px;
  width: 40px;
  left: 130px;
  top: 130px;
  border-radius: 0px 0px 0px 0px;
}

/* F */

.f {
  width:170px;
  height: 170px;
}

.f>.top {
  height: 170px;
  width: 170px;
  left: 0px;
  top: 0px;
  background: var(--color);
  border-radius: 0px 0px 0px 0px;
}

.f>.counter.eleven {
  height: 85px;
  width: 5px;
  left: 85px;
  top: 45px;
  border-radius: 0px 0px 0px 0px;
}

.f>.counter.twelve {
  height:5px;
  width: 85px;
  left: 85px;
  top: 85px;
  border-radius: 0px 0px 0px 0px;
}

.f>.counter.thirteen {
  height: 80px;
  width: 5px;
  left: 85px;
  top: 85px;
  border-radius: 0px 0px 0px 0px;
}

.f>.counter.fourteen {
  height: 5px;
  width: 85px;
  left: 130px;
  top: 45px;
  border-radius: 0px 0px 0px 0px;
}

/* G */

.g {
  width:170px;
  height: 170px;
}

.g>.top {
  height: 170px;
  width: 170px;
  left: 0px;
  top: 0px;
  background: var(--color);
  border-radius: 0px 0px 0px 0px;
}

.g>.counter.fifteen {
  height: 60px;
  width: 5px;
  left: 130px;
  top: 85px;
  border-radius: 0px 0px 0px 0px;
}

.g>.counter.sixteen {
  height: 5px;
  width: 170px;
  left: 130px;
  top: 85px;
  border-radius: 0px 0px 0px 0px;
}

/* H */

.h {
  width:170px;
  height: 170px;
}

.h>.top {
  height: 170px;
  width: 170px;
  left: 0px;
  top: 0px;
  background: var(--color);
  border-radius: 0px 0px 0px 0px;
}

.h>.counter.seventeen {
  height: 40px;
  width: 5px;
  left: 85px;
  top: 0px;
  border-radius: 0px 0px 0px 0px;
}

.h>.counter.eighteen {
  height: 40px;
  width: 5px;
  left: 85px;
  top: 130px;
  border-radius: 0px 0px 0px 0px;
}

/* I */

.i {
  width:170px;
  height:170px;
}

.i>.top {
  height: 170px;
  width: 170px;
  left: 0px;
  top: 0px;
  background: var(--color);
  border-radius: 0px 0px 0px 0px;
}

.i>.counter.nineteen {
  height: 5px;
  width: 170px;
  left: 0px;
  top: 40px;
  border-radius: 0px 0px 0px 0px;
}

/* J */

.j {
  width:170px;
  height:170px;
}

.j>.top {
  height: 170px;
  width: 170px;
  left: 0px;
  top: 0px;
  background: var(--color);
  border-radius: 0px 0px 0px 0px;
}

.j>.counter.twenty {
  height: 5px;
  width: 65px;
  left: 0px;
  top: 100px;
  border-radius: 0px 0px 0px 0px;
}

.j>.counter.twentyone {
  height: 5px;
  width: 170px;
  left: 0px;
  top: 40px;
  border-radius: 0px 0px 0px 0px;
}

.j>.counter.twentytwo {
  height: 60px;
  width: 5px;
  left: 60px;
  top: 40px;
  border-radius: 0px 0px 0px 0px;
}

/* K */

.k {
  width:170px;
  height:170px;
}

.k>.top {
  height: 170px;
  width: 170px;
  left: 0px;
  top: 0px;
  background: var(--color);
  border-radius: 0px 0px 0px 0px;
}

.k>.counter.twentythree {
  height: 60px;
  width: 5px;
  left: 85px;
  top: 110px;
  border-radius: 0px 0px 0px 0px;
}

.k>.counter.twentyfour {
  height: 5px;
  width: 60px;
  left: 120px;
  top: 85px;
  border-radius: 0px 0px 0px 0px;
}

.k>.counter.twentyfive {
  height: 60px;
  width: 5px;
  left: 85px;
  top: 0px;
  border-radius: 0px 0px 0px 0px;
}

/* L */

.l {
  width:170px;
  height:170px;
}

.l>.top {
  height: 170px;
  width: 170px;
  left: 0px;
  top: 0px;
  background: var(--color);
  border-radius: 0px 0px 0px 0px;
}

.l>.counter.twentysix {
  height: 130px;
  width: 5px;
  left: 85px;
  top: 0px;
  border-radius: 0px 0px 0px 0px;
}

.l>.counter.twentyseven {
  height: 5px;
  width: 85px;
  left: 85px;
  top: 130px;
  border-radius: 0px 0px 0px 0px;
}

/* M */

.m {
  width:170px;
  height:170px;
}

.m>.top {
  height: 170px;
  width: 170px;
  left: 0px;
  top: 0px;
  background: var(--color);
  border-radius: 0px 0px 0px 0px;
}

.m>.counter.twentyeight {
  height: 60px;
  width: 5px;
  left: 56px;
  top: 130px;
  border-radius: 0px 0px 0px 0px;
}

.m>.counter.twentynine {
  height: 60px;
  width: 5px;
  left: 114px;
  top: 130px;
  border-radius: 0px 0px 0px 0px;
}


/* change our stroke width when a letter is hovered */


/*.letter * {
  transition: all 200ms ease;
}

.a:hover {
  --stemWidth:8px;
}

.b:hover .counter {
  transform: scale(.05);
}

.c:hover .counter.two {
    transform: scale(.05);
}

.c:hover .counter.three {
    transform: scaleY(.05);
}*/
