body {
	background: black;
	color: white;
	font-family: helvetica;
	font-size: 100px;
	display: flex;
	align-items: center;
  	justify-content: center;

  	min-height: 100vh;
}

.zero {
	background: lavender;
}

.one {
	background: red;
}
.two {
	background: orange;
}
.three {
	background: yellow;
}
.four {
	background: green;
}
.five {
	background: blue;
}
.six {
	background: purple;
}

.seven {
	background: pink;
}

.eight {
	background: #ff2e87;
}

.nine {
	background: #344900;
}

.ten {
	background: #fff99e;
}



#clock {
	border: 1px solid white;
	width: 500px;
	height: 500px;

	display: flex;
	align-items: center;
  	justify-content: center;


}
